body {
    background-color: #2e245c;
    color: #313131 ;
    font-family: 'PT Serif', serif;
    text-align: justify;
}
h1, h2{
  font-family: 'times', sans-serif;
}

h1 {
    color: #B2B8A3 ;
  font-size: 35px;
  font-weight: 900;
}

h2{
    color: #FFC288 ;
  font-size: 25px;
  font-weight: 300;
  font-weight: lighter;	
}

.img-circle {
    background : white;
    box-shadow: 0px 15px 35px rgba(50,50,93,0.3);
    }
  
a {
font-family: 'Roboto', sans-serif;
text-decoration: none;
color: #2e245c;
font-weight: 600;
font-size: 20px; 
}

a:hover {
color: red;
}

.card-white {
  background-color: #eae9ef;
  padding: 40px;
  border-radius: 10px;
  margin: 20px 300px;
  text-align: center;
  box-shadow: 0px 15px 35px rgba(50,50,93,0.3);
}

.img-circle {
  border-radius: 10%
}

.list-inline {
    list-style: none;
    padding-left: 0px;
}

.list-inline i {
	font-size: 30px;
}
